<div class='main-content'>
    <h1 class='form-titles'>Punchlists</h1>
<div class='form-row'>
    <%= form_tag jobpunchlists_path, style: 'display: flex', method: :get do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Enter search query"
        %>
        <%= submit_tag "Search", class: "btn btn-primary"%>
    <% end %>
    </div><br>
<table id='estimate-todo-table'>
    <thead>
        <tr>
            <td>Punchlist</td>
            <td>Description</td>
            <td colspan='2' style='text-align: center'>Actions</td>
        </tr>
    </thead>
    <tbody>
    <% @jobpunchlists.each do |jobpunchlist| %>
        <tr>
            <td><%= link_to jobpunchlist.title, jobpunchlist %></td> 
            <td><%= jobpunchlist.description %></td>
            <td style='text-align: center'><%= link_to edit_jobpunchlist_path(jobpunchlist) do %>
                <i class="fas fa-edit"></i>
                <% end %>
                
            </td>
            <td style='text-align: center'><%= link_to jobpunchlist_path(jobpunchlist), method: :delete do %>
                <i class="fas fa-trash-alt"></i>
                <% end %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>

<br>
<br>
<div class="links">
    <%= link_to "New Todo List", new_jobpunchlist_path %><br/>
    <%= link_to "Home", authenticated_root_path %>
</div>
</div>