<div class='page-width'>
    <table>
        <thead>
            <tr>
                <td>Invoice ID</td>
                <td>Job Date</td>
                <td>Customer</td>
                <td>Total</td>
                <td>Description</td>
                <td>PDF</td>
            </tr>
        </thead>
        <tbody>
    <% @invoices.each do |invoice| %>
            <tr>
                <td><%= invoice.id %></td>
                <td><%= invoice.job_date %></td>
                <td><%= (invoice.bill_to_info).split('-')[0]%> <br> <%= (invoice.bill_to_info).split('-')[1] %> <br> <%= (invoice.bill_to_info).split('-')[2]%> </td>
                <td><%= invoice.total %></td>
                <td><%= invoice.description %></td>
                <td><%= invoice_path(invoice, format: :pdf) %></td>
            </tr>    
    <% end %>
        </tbody>
    </table>
</div>