<div class='page-width'>
    <h1 class='form-titles'>New Invoice</h1>

    <%= simple_form_for(@invoice, url: work_order_invoices_path, method: "POST")  do |f| %>
    <div id='tech-info'>
            <%= f.input :bill_to_info, label: 'Bill To:', input_html: { value: "#{@invoice.work_order.customer_name} - #{@invoice.work_order.customer_street_address}, #{@invoice.work_order.customer_city} #{@invoice.work_order.customer_zip_code}" }, readonly: true %>
            <%= f.input :date, label: "Today's Date:", input_html: { value: "#{@invoice.work_order.date}" }, readonly: true %>
    </div>

    <%= f.input :job_date, label: "Job Date:" %>

    <div id='work-info'>
        <div id='descriptions'>
            <%= f.input :description, label: "Description:"%>
            <%= f.input :description2, label: "Description:"%>
            <%= f.input :description3, label: "Description:"%>
            <%= f.input :description4, label: "Description:"%>
        </div>
        <div id='amounts'>
            <%= f.input :amount, label: "Amount:", class:'amount' %>
            <%= f.input :amount2, label: "Amount:", class:'amount' %>
            <%= f.input :amount3, label: "Amount:", class:'amount' %>
            <%= f.input :amount4, label: "Amount:", class:'amount' %>
        </div>

        <%= f.input :subtotal, label: "Subtotal:" %>
        <%= f.input :tax, label: "tax:" %>
        <%= f.input :payments_credits, label: "Payments/Credits:" %>
    </div>

        <br>

        <%= f.button :submit, 'Submit Invoice', class: 'btn btn-primary' %>
    <% end %>
</div>