<div class='page-width'>
    <h1 class='form-titles'>New Invoice</h1>

    <%= simple_form_for(@invoice, url: work_order_invoices_path, method: "POST")  do |f| %>
    <%= f.input :job_type, as: :radio_buttons, collection: ['Invoice', 'Estimate'], label: 'Invoice or Estimate?' %> 
    <br>
    <div id='tech-info'>
            <%= f.input :bill_to_info, label: 'Bill To:', input_html: { value: "#{@invoice.work_order.customer_name} - #{@invoice.work_order.customer_street_address}, #{@invoice.work_order.customer_city} #{@invoice.work_order.state} #{@invoice.work_order.customer_zip_code}" }, readonly: true %>
            <%= f.input :date, label: "Today's Date:", input_html: { value: "#{@invoice.work_order.date}" }, readonly: true %>
            <%= f.input :project_name, label: "Project Name:" %>
    <%= f.input :job_date, label: "Job Date:" %>
    </div>

    <div id='work-info'>
        <%= f.fields_for :details do |details_form| %>
            <%= details_form.input :description, label: "Description:"%>
            <%= details_form.input :amount, label: "Amount:"%>
        <% end %>
    </div>

    <div id='more-info'>
        
    </div>
        <%= submit_tag "Add More", :type => "button", id: "addAddress", onclick: 'addAddressField()'%>
        <br><br>
        <%= f.input :tax, as: :radio_buttons, collection: [0, 0.08625], label: 'Tax:' %>
        <%= f.input :payments_credits, label: "Payments/Credits:" %>
        <%= label :paid, 'Paid?' %>
        <%= f.collection_radio_buttons :paid, [[true, 'Yes'], [false, 'No']], :first, :last %> 
    <br>
    <br>
        <%= label :notes, 'Payment Notes' %>
        <%= f.text_area :notes, label: 'Notes', id:'work-details', input_html: {placeholder: '$100 on May 3rd by Check'} %> 

        <br>

        <%= f.button :submit, 'Submit Invoice', class: 'btn btn-primary' %>
    <% end %>
</div>