<div class="main-content">
<%= link_to 'All Invoices', invoices_path %> | <%= link_to 'Unpaid Invoices', unpaid_invoices_path %><br>
    <table class='work-orders' style='overflow: scroll;'>
        <thead>
            <tr>
                <td>Invoice ID</td>
                <td>Job Date</td>
                <td>Customer</td>
                <td>Total</td>
                <td>Project Name</td>
                <td colspan='3'>More Details</td>
            </tr>
        </thead>
        <tbody>
    <% @invoices.each do |invoice| %>
        <% if invoice.paid %>
            <tr>
                <td><%= invoice.id %></td>
                <td><%= invoice.job_date %></td>
                <td><%= (invoice.bill_to_info).split('-')[0]%></td>
                <td><%= invoice.total %></td>
                <td><%= invoice.project_name %></td>
                <td><%= link_to 'Edit Invoice', edit_invoice_path(invoice) %></td>
                <td><%= link_to 'Webpage', invoice_path(invoice) %></td>
                <td><%= link_to 'PDF', invoice_path(invoice, format: :pdf) %></td>
            </tr>   
        <% end %> 
    <% end %>
        </tbody>
    </table>
</div>