<h1 class='form-titles'>Invoice #<%= @invoice.id %></h1>

<div id='invoice-details'>
    <div class='bill-to'>
        <table>
            <tbody>
                <tr>
                    <td>Bill To:</td>
                <tr>
                    <td>
                    <%= (@invoice.bill_to_info).split('-')[0]%><br> 
                    <%= (@invoice.bill_to_info).split('-')[1]%>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class='date-project'>
        <table>
            <tbody>
                <tr>
                    <td>Date</td>
                    <td>Project</td>
                </tr>
                <tr>
                    <td><%= @invoice.job_date %></td>
                    <td><%= @invoice.description %></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>