<div id='dashboard-items'>
    <h5 style='margin-top: 1rem'><i class="fas fa-file-invoice"></i>Work Orders</h5>
    <ul>
        <li><%= link_to "New Work Order", new_work_order_path %></li>
        <li><%= link_to "View Work Orders", work_orders_path %></li>
    </ul>
    <h5><i class="fas fa-file-invoice-dollar"></i>Invoices</h5>
    <ul>
        <li><%= link_to "View Estimates", estimates_path %></li>
        <li><%= link_to "View Invoices", invoices_path %></li>
    </ul>
    <h5><i class="fas fa-tasks"></i>Punchlists</h5>
    <ul>
        <li><%= link_to "New Punchlist", new_jobpunchlist_path %></li>
        <li><%= link_to "View Punchlists", jobpunchlists_path %></li>
    </ul>
    <h5><i class="fas fa-tasks"></i>Contractors</h5>
    <ul>    
        <li><%= link_to "Add Contractor", new_contractor_path %></li>
        <li><%= link_to "View Contractors", contractors_path %></li>
    </ul>
    <h5><i class="fas fa-user"></i>Employees</h5>
    <ul>    
        <li><a href="CALSHOW://">iOS Calendar</a></li>
        <li><a href="googlecalendar://">Google Calendar</a></li>

    </ul>
</div>

<div id='dashboard-items-mobile'>
    <div><%= link_to "NW", new_work_order_path %></div>
    <div><%= link_to "VW", work_orders_path %></div>
    <div><%= link_to "Is", invoices_path %></div>
    <div><%= link_to "NPL", new_jobpunchlist_path %></div>
    <div><%= link_to "Ps", jobpunchlists_path %></div>
    <div><%= link_to "AC", new_contractor_path %></div>
    <div><%= link_to "Cs", contractors_path %></div>
    <div><a href="CALSHOW://">iCal</a> </div>
    <div><a href="googlecalendar://">gCal</a> </div>
</div>