<div id='dashboard-items'>
    <h5 style='margin-top: 1rem'><i class="fas fa-file-invoice"></i>Work Orders</h5>
    <ul>
        <li><%= link_to "New Work Order", new_work_order_path %></li>
        <li><%= link_to "View Work Orders", work_orders_path %></li>
    </ul>
    <h5><i class="fas fa-file-invoice-dollar"></i>Invoices</h5>
    <ul>
        <li><%= link_to "View Estimates", estimates_path %></li>
        <li><%= link_to "View Invoices", invoices_path %></li>
    </ul>
    <h5><i class="fas fa-tasks"></i>Punchlists</h5>
    <ul>
        <li><%= link_to "New Punchlist", new_jobpunchlist_path %></li>
        <li><%= link_to "View Punchlists", jobpunchlists_path %></li>
    </ul>
    <h5><i class="fas fa-user"></i>Contractors</h5>
    <ul>    
        <li><%= link_to "Add Contractor", new_contractor_path %></li>
        <li><%= link_to "View Contractors", contractors_path %></li>
    </ul>
    <h5><i class="fas fa-calendar-alt">Calendar</i></h5>
    <ul> 
        <li><a href="googlecalendar://">Google Calendar</a></li>
    </ul>
</div>

<div id='dashboard-items-mobile'>
    <section id='options-top'>
        <div onClick="toggleWorkOrder()"><i class="fas fa-file-invoice-dollar"></i></i></div>
        <div onClick="togglePunchList()"><i class="fas fa-tasks"></i></div>
        <div onClick="toggleContractor()"><i class="fas fa-user"></i>   </div>
        <div><a href="googlecalendar://"><i class="fas fa-calendar-alt"></i></a></div>
    </section>
    <section id='option-dropdowns'>
        <ul class='work-order-toggle'>
            <li><%= link_to "New Work Order", new_work_order_path %></li>
            <li><%= link_to "Work Orders", work_orders_path %></li>
            <li><%= link_to "Invoices", invoices_path %></li>
        </ul>
        <ul class='punchlist-toggle'>
            <li><%= link_to "New Punchlist", new_jobpunchlist_path %></li>
            <li><%= link_to "Punchlists", jobpunchlists_path %></li>
        </ul>
        <ul class='contractor-toggle'>
            <li><%= link_to "Add Contractor", new_contractor_path %></li>
            <li><%= link_to "Contractors", contractors_path %></li>
        </ul>
    </section>
</div>