<div class='page-width'>
    <h1 class='form-titles'>Actions</h1>

    <div class='menu-actions'>
        <%= link_to "New Work Order", new_work_order_path %>
        <%= link_to "View Work Orders", work_orders_path %>
        <%= link_to "View Invoices", invoices_path %>
        <%= link_to "Schedules", work_orders_path %>
        <%= link_to "Punchlists", work_orders_path %><br/>
        <%= link_to "Add Contractor", new_contractor_path %>
        <%= link_to "View Contractors", contractors_path %>
    </div>
</div>