<div class="home-dashboard">
    <section id='section-a'>
        <div>
            <h3>Paid Invoices:</h3>
            <h4 style='text-align: center'>$<%= @paid_invoices_sum %></h4>
        </div>
        <div id='vertical-line'></div>
        <div>
            <h3>Unpaid Invoices:</h3>
            <h4 style='text-align: center'>$<%= @unpaid_invoices_sum %></h4>
        </div>
    </section>
    <section id='section-b'>
    <h4>My Tasks</h4>
        <%= simple_form_for @task do |f| %>
            <%= f.input :name, label: 'Task:'%>
            <%= f.button :submit, 'Add Task', class: 'btn btn-primary' %>
        <% end %>

        <ul>
            <% @tasks.each do |task| %>
                <% if task.status === 'done' %>
                <strike>
                <li>
                    <span><%= task.name %><span> 
                    <span><%= task.status %></span>
                </li>
                </strike>
                <% else %>
                <li>
                    <span><%= task.name %><span> 
                    <span><%= task.status %></span>
                    <span><%= link_to 'Mark as Complete', done_task_path(task), method: :patch %></span>
                </li>
                <% end %>
            <% end %>
        </ul>
    </section>
    <section id='section-c'>
        <h4>My Tasks</h4>
        <%= simple_form_for @task do |f| %>
            <%= f.input :name, label: 'Task:'%>
            <%= f.button :submit, 'Add Task', class: 'btn btn-primary' %>
        <% end %>
        <br>
        <ul>
            <% @tasks.each do |task| %>
                <% if task.status === 'done' %>
                <strike>
                <li>
                    <span><%= task.name %><span> 
                    <span><%= task.status %></span>
                </li>
                </strike>
                <% else %>
                <li>
                    <span><%= task.name %><span> 
                    <span><%= task.status %></span>
                    <span><%= link_to 'Mark as Complete', done_task_path(task), method: :patch %></span>
                </li>
                <% end %>
            <% end %>
        </ul>
    </section>
</div>


