<div class='main-content'>
    <%= link_to 'Edit Contractor', edit_contractor_path %>
    <h1 class='form-titles'>Contractor Information:</h1>
        <div style='text-align: center'>
            <h3><%= @contractor.name %></h3>
            <h3><%= @contractor.address1 %></h3>
            <h3><%= @contractor.city %>, <%= @contractor.state %> <%= @contractor.zip %></h3>
            <h3><%= @contractor.phone %></h3>
        </div>

    <h1 class='form-titles'>Files</h1>

    
    <div class='menu-actions'>
        <% @contractor.files.each do |file| %>
            <%= link_to file.filename, file, target: :blank %>
            <%= link_to delete_file_path(file.id), method: :delete do %>
                <i class="fas fa-trash-alt"></i>
            <% end %>
        <% end %>
    </div>
</div>