<tr>
    <% if punchlistitem.completed? %>
    <td>
        <div class="punchlistitem">
            <p><strike><%= punchlistitem.created_at.strftime('%b %d, %Y')%></strike></p>
        </div>
    </td>
    <td>
        <div class="punchlistitem">
            <p><strike><%= punchlistitem.content %></strike></p>
        </div>
    </td>
    <td>
        <div class="complete">
            <%= link_to complete_jobpunchlist_punchlistitem_path(@jobpunchlist, punchlistitem.id), method: :patch do %>
                <i class="fas fa-check"></i>
            <% end %>
        </div>
    </td>
    <td>
        <div class="punchlistitem">
            <p><strike><%= punchlistitem.completed_at.strftime('%b %d, %Y')%></strike></p>
        </div>
    </td>
    <% else %>
    <td>
        <div class="punchlistitem">
            <p><%= punchlistitem.created_at.strftime('%b %d, %Y')%></p>
        </div>
    </td>
    <td>
        <div class="punchlistitem">
            <p ><%= punchlistitem.content %></p>
        </div>
    </td>
    <td>
        <div class="complete">
            <button class="btn btn-warning btn-sm"><%= link_to "Mark Complete", complete_jobpunchlist_punchlistitem_path(@jobpunchlist, punchlistitem.id), method: :patch %></button>
        </div>
    </td>
    <td>
        <div class="punchlistitem">
            <p> N/A </p>
        </div>
    </td>
<% end %>
    <td>
        <div class="trash">
            <%= link_to jobpunchlist_punchlistitem_path(@jobpunchlist, punchlistitem.id), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="fas fa-trash-alt"></i>
            <% end %>
        </div>
    </td>
</tr>
