<div class='page-width'>
    <table class='work-orders'>
        <thead>
            <tr>
                <td>Order ID</td>
                <td>Date</td>
                <td>Technician</td>
                <td>Location</td>
                <td>Customer Name</td>
                <td colspan='3'>Invoice</td>
            </tr>
        </thead>
        <tbody>
    <% @work_orders.each do |work_order| %>
            <tr>
                <td><%= work_order.id %></td>
                <td><%= work_order.date %></td>
                <td><%= work_order.technician %></td>
                <td><%= work_order.location %></td>
                <td><%= work_order.customer_name %></td>
                    
                

                <% invoice_array = 0 %>
                <% @invoices.each do |invoice| %>
                        <% if work_order.id == invoice.work_order.id %>
                            <td>Invoice Created</td>
                            <% invoice_array += 1 %>
                                
                        <% end %>
                <% end %>

                <% if invoice_array == 0 %>
                    <td><%= link_to 'Create Invoice', new_work_order_invoice_path(work_order) %></td>
                <% end %>
            </tr>    
    <% end %>
        </tbody>
    </table>
</div>